{
  "extends": ["eslint:recommended", "airbnb"],
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "rules": {
    "linebreak-style": ["error", "unix"],
    "comma-dangle": [
      "error",
      {
        "functions": "never"
      }
    ],
    "no-underscore-dangle": 0,
    "no-nested-ternary": 0,
    "radix": 0,
    "semi": 0,
    "react/prop-types": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "function-paren-newline": 0,
    "func-names": 0,
    "prefer-arrow-callback": 0,
    "object-curly-newline": [
      "error",
      {
        // "ObjectExpression": "always",
        // "ObjectPattern": { "multiline": true },
        "ImportDeclaration": "never",
        "ExportDeclaration": {
          "multiline": true,
          "minProperties": 3
        }
      }
    ],
    "jsx-quotes": ["error", "prefer-double"],
    "react/destructuring-assignment": [
      "error",
      "always",
      {
        "ignoreClassFields": true
      }
    ]
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  }
}
